*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: aquamarine;
    padding: 16px;
    width: fill;
    height: 92px;
}
nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 139px;
    height: 60px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px; 
}
nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
nav .menu a:hover{
    color: #2f855a;
}
.btn{
    background: #30b868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
}
.btn:hover{
    background: #2f855a;
}

