*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: aquamarine;
    padding: 16px; 
    width: fill;
    height: 92px;
}
nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 139px;
    height: 60px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px; 
}
nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
nav .menu a:hover{
    color: #2f855a;
}
.btn{
    background: #30b868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
}
.btn:hover{
    background: #2f855a;
}

#banner{
    width: fill;
    height: 674px;
    margin-top: 10px;
    justify-content: center;
    padding: 160px 80px;
    text-align: center;
    background-image: url(images/hero-bg.png);
}
#banner .banner-1 p{
    color: darkgreen;
    background-color: aquamarine;
    padding: 4px 12px;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 10px;
}
#banner .banner-content h1{
    font-size: 45px;
    font-weight: bold;
    color: aqua;
    margin-bottom: 8px;
}

#banner .banner-content p{
    font-size: 16px;
    color: whitesmoke;
    line-height: 30px;
    margin: 10px 10px;
}
#banner .banner-button button{
    background: #2f855a;
    padding: 4px 12px;
    color: azure;
}

  




